@model IEnumerable<PlayerManagement.Models.PlayerMatch.PlayerMatch>

@{
    ViewBag.Title = "View By Matches Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<div class="viewer" style="background-color:#076192;margin: auto;max-width:960px;border-radius:10px;color:white">All Matches in @(ViewContext.RouteData.Values["id"])</div>-->
<h2>All Matches of @String.Format(Model.FirstOrDefault().Player.Name)</h2>
<div id="main" class="fixed-width">
    <div class="player-pages">
        <!--
        <div class="top-bar">
            <select class="selector">
                <option value="1">Time</option>
                <option value="2">Name</option>
                <option value="3">Score</option>
            </select>
            <form name="player-search" id="player-search">
                <input type="text" name="search_text">
                <input type="submit" name="submit-btn" class="button primary" value="Go">
            </form>
        </div>
            -->
        <div class="info text-center">
            <div class="list text-left">
                <table id="datajquery" class="career">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Result</th>
                            <th>Goals</th>
                            <th>Yellows</th>
                            <th>Reds</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd">
                                <td>
                                    @Html.ActionLink(item.Match.Name, "Details", "Match", new { id = item.MatchID }, new { @class = "action-link" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Match.Score)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfGoals)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfYellows)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfReds)
                                </td>
                                @if (Request.IsAuthenticated)
                                {
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "PlayersMatches", new { playerID = item.PlayerID, matchID = item.MatchID }, new { @class = "action-link" })
                                        @Html.ActionLink("Delete", "Delete", "PlayersMatches", new { playerID = item.PlayerID, matchID = item.MatchID }, new { @class = "action-link" })

                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="button text-center">
                @Html.ActionLink("Add new Player's match", "Create", "PlayersMatches", null, new { @class = "button primary action-link" })
            </div>

        </div>
    </div>
</div>