<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title - Real Madrid</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css", "~/media/css/jquery.dataTables.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/media/js/jquery.js", "~/media/js/jquery.dataTables.js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" language="javascript" class="init">


        $(document).ready(function () {
            $('#datajquery').DataTable();
        });


    </script>
</head>
<body>
    <div class="button primary" style="margin-left: 90%;">
        @if (Request.IsAuthenticated)
        {
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Logout", "Logout", "Accounts", null, new { @style = "color:white" })
        }
        else
        {
            @Html.ActionLink("Login", "Login", "Accounts", null, new { @style = "color:white" })
        }

    </div>


    <div id="header">
        <ul id="navbar" class="uppercase fixed-with">
            <a href="~/Clubs"><li>Club</li></a>
            <a href="~/Players"><li>Players</li></a>
            <a href="~/Match"><li>Matches</li></a>
            <a href="~/Coaches"><li>Coaches</li></a>
            <a href="~/League"><li>Leagues</li></a>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - Real Madrid</p>
        </footer>
    </div>
</body>
</html>
