@model IEnumerable<PlayerManagement.Models.Career>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ String playerName = null;
 String playerImage = null;
 try
 {
     playerName = Model.ToList().FirstOrDefault().Player.Name;
     playerImage = Model.ToList().FirstOrDefault().Player.ImageLink;
 }
 catch (NullReferenceException)
 {

     //return View("Shared/Error");
 }

}
<div id="main" class="fixed-width">
    <div class="player">
        <div class="image">
            <div class="viewer" style='background-image: url(@playerImage)'></div>
        </div>
        <div class="info text-center">
            <h3>@playerName</h3>
            <div class="list text-left">
                <table class="career">
                    <thead>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Goal</th>
                    <th>Club</th>
                    <th></th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClubName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.From)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.To)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfGoals)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClubName)
                                </td>
                                <td>

                                    @if (Request.IsAuthenticated)
                                    {
                                        @Html.ActionLink("Edit ", "Edit", "Careers", new { id = item.ID }, new { @class = "action-link" })
                                        @Html.ActionLink("Delete", "Delete", "Careers", new { id = item.ID }, new { @class = "action-link" })
                                    }


                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            @if (Request.IsAuthenticated)
            {

                <div class="button text-center">
                    <div class="button primary">
                        @Html.ActionLink("Add new Career", "Create", "Careers",
                                 new { id = Model.ToList().FirstOrDefault().PlayerID }, new { @style = "color:white" })
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
