@model PlayerManagement.Models.Player

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>    
    <div id="main" class="fixed-width">
        <div class="player">
            <div class="image">
                <img src="@Html.DisplayFor(model => model.ImageLink)">
            </div>
            <div class="info text-center">
                <h3>Player's info</h3>
                <div class="list text-left">
                    <p><label>Name: </label> <span>@Html.DisplayFor(model => model.Name)</span></p>
                    <p><label>No. </label> <span>@Html.DisplayFor(model => model.Number)</span></p>
                    <p><label>Pos.</label> <span>@Html.DisplayFor(model => model.Position)</span></p>
                    <p><label>DoB. </label> <span>@Html.DisplayFor(model => model.DateOfBirth)</span></p>
                    <p><label>Height: </label> <span>@Html.DisplayFor(model => model.Height)</span></p>
                    <p><label>Weight: </label> <span>@Html.DisplayFor(model => model.Weight)</span></p>
                    <p><label>Place of birth: </label> <span>@Html.DisplayFor(model => model.PlaceOfBirth)</span></p>
                    <p><label>Description: </label> <span>@Html.DisplayFor(model => model.Description)</span></p>
                </div>
                <div class="buttons text-center">
                    <a href="#">
                        <div class="button primary">Carrer</div>
                    </a>
                    <a href="#">
                        <div class="button primary">Archive</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
