@model IEnumerable<PlayerManagement.Models.Player>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="fixed-width">
    <div class="player-pages">
        <div class="info text-center">
            <div class="list text-left">
                <table class="player-pages">
                    <tr>
                        <th>                            
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
                        <th>
                            Age
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.Name) + "", "Details", new { id = item.ID }, new { @class = "action-link" })
                                
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>                                
                               @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>
</div>










