@model PlayerManagement.Models.Club

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Club</h4>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stadium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stadium)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Name }) |
    
</p>
