@model IEnumerable<PlayerManagement.Models.League>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Leagues</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
</head>

<div id="main" class="fixed-width">
    <div class="coach">
        <div class="coachmgr info text-center">
            <div class="list text-left achivement">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="image"><img class="viewer" src="@Html.DisplayFor(modelItem=>item.LogoLink)" /></div>
                            <div class="detail">
                                <div>
                                    <p style="text-decoration-color:white">@Html.ActionLink(item.Name, "GoToMatches", new { id = item.Name, style = "color:white" }, new { @class = "action-link" })</p>                                    
                                </div>
                            </div>
                            <!--
                            <div class="button text-center">
                                <div class="button primary">
                                    @Html.ActionLink("Edit", "Edit", "League", new { id = item.Name}, new { @style = "color:white" })
                                </div>
                            </div>
                            <div class="button text-center">
                                <div class="button primary">
                                    @Html.ActionLink("Delete", "Delete", "League", new { id = item.Name }, new { @style = "color:white" })
                                </div>
                            </div>
                                -->
                        </li>
                    }

                </ul>
            </div>
            <!--
            <div class="button text-center">
                <div class="button primary">
                    @Html.ActionLink("Add new League", "Create", "League", null, new { @style = "color:white" })
                </div>
            </div>
                -->
        </div>
        
    </div>
</div>

