@model PlayerManagement.Models.Match

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="fixed-width">
    <div class="player">
        <div class="image">
            <div class="viewer" style="border: none">
                <p style="font-size: 89px;margin-bottom: 0px;text-align: center">@Html.DisplayFor(model => model.Score)</p>
                <div class="leftscore">
                    <div class="score-table">
                        @foreach (var item in Model.PlayerMatches)
                        {
                            if (item.NumberOfGoals > 0)
                            {
                                if (item.PlayerID != "-1") { 
                                    <p>@Html.ActionLink(item.Player.Name, "GotoPlayerDetails", new { id = item.PlayerID }, new { @class = "action-link" })  -  @Html.DisplayFor(modelItem => item.NumberOfGoals)</p>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="info text-center">
            <h3>Match's info</h3>
            <div class="list text-left">
                <p><label>Match Name : </label> <span>@Html.DisplayFor(model => model.Name)</span></p>
                <p><label>League : </label> <span>@Html.ActionLink(Model.LeagueName, "ViewByLeagueName", new { id = Model.LeagueName }, new { @class = "action-link" })</span></p>
                <p><label>Date : </label> <span>@Html.DisplayFor(model => model.Time)</span></p>
                <p><label>Yellow Card : </label> <span></span></p>
                @foreach (var item in Model.PlayerMatches)
                {
                    if (item.NumberOfYellows > 0)
                    {
                        if (item.Player != null)
                        {
                        <!-- todo fix null reference exception here -->
                            <p><label style="margin-left:15px">- @Html.ActionLink(item.Player.Name, "GotoPlayerDetails", new { id = item.PlayerID }, new { @class = "action-link" }) : @Html.DisplayFor(modelItem => item.NumberOfYellows)</label></p>
                        }
                    }
                }
                <p><label>Red Card: </label> <span></span></p>
                @foreach (var item in Model.PlayerMatches)
                {
                    if (item.NumberOfReds > 0)
                    {
                        <p><label style="margin-left:15px">- @Html.ActionLink(item.Player.Name, "GotoPlayerDetails", new { id = item.PlayerID }, new { @class = "action-link" }) : @Html.DisplayFor(modelItem => item.NumberOfReds)</label></p>
                    }

                }
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="button text-center">
                    @Html.ActionLink("Edit", "Edit", "Match", new { id = Model.ID }, new { @class = "button primary action-link" })
                </div>
                <div class="button text-center">
                    @Html.ActionLink("Delete", "Delete", "Match", new { id = Model.ID }, new { @class = "button primary action-link" })
                </div>
            }
        </div>

    </div>
</div>