@model IEnumerable<PlayerManagement.Models.Match>

@{
    ViewBag.Title = "View By League Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<div class="viewer" style="background-color:#076192;margin: auto;max-width:960px;border-radius:10px;color:white">All Matches in @(ViewContext.RouteData.Values["id"])</div>-->
<h2>All Matches in @(ViewContext.RouteData.Values["id"])</h2>
<div id="main" class="fixed-width">
    <div class="player-pages">
        <!--
        <div class="top-bar">
            <select class="selector">
                <option value="1">Time</option>
                <option value="2">Name</option>
                <option value="3">Score</option>
            </select>
            <form name="player-search" id="player-search">
                <input type="text" name="search_text">
                <input type="submit" name="submit-btn" class="button primary" value="Go">
            </form>
        </div>
            -->
        <div class="info text-center">
            <div class="list text-left">
                <table class="career">
                    <thead>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Score</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd">
                                <td>
                                    @String.Format("{0:d}", item.Time)
                                </td>
                                <td>
                                    @Html.ActionLink(item.Name, "Details", new { id = item.ID }, new { @class = "action-link" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>